{% load static %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
    <link
            rel="stylesheet" href="{% static "css/style.css" %}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Título{% endblock %}</title>
</head>
<body>
<header class="header container">
    {% block header %}
        <!-- Inserta el título de la página web -->
    {% endblock header %}
</header>
<main class="main-content {% block menuvariant %}{% endblock menuvariant %}">
    {% block content %}{% endblock content %}
</main>
<footer class="footer">
    <div class="footer__content container">
        <h2>Practi<span class="text-bold">ESCOM</span></h2>
        <p>El banco de los estudiantes</p>
    </div>
</footer>
</body>
</html>
