{% extends "cajero_web/base.html" %}
{% load static %}

{% block title %}Pago de Servicios{% endblock title %}

{% block header %}
    <h1>Paga tus<span class="text-bold">Servicios</span></h1>
{% endblock header %}

{% block menuvariant %}main-content--no-menu container{% endblock menuvariant %}

{% block content %}
    <div class="servicios">
        <div class="servicios__item">
            <img src="{% static "img/cfe_logo.png" %}" alt="Logo de CFE"/>
        </div>
        <div class="servicios__item">
            <img src="{% static "img/sky_logo.png" %}" alt="Logo de SKY"/>
        </div>
        <div class="servicios__item">
            <img src="{% static "img/telmex_logo.png" %}" alt="Logo de Telmex"/>
        </div>
    </div>

    <form class="form" method="post">
        {% csrf_token %}
        {% if error %}<p class="error-message">{{ error }}</p>{% endif %}
        <div class="form__field">
            <label class="form__label" for="txtServicio">
                Numero de referencia
            </label>
            <input
                    class="form__input"
                    type="text"
                    name="txtServicio"
                    id="txtServicio"
                    maxlength="16"
                    pattern="\d*"
                    placeholder="Ingresa numero de referencia"
                    required
            />
        </div>
        <div class="form__field">
            <label for="txtMonto" class="form__label">Monto a pagar</label>
            <input
                    class="form__input"
                    type="text"
                    name="txtMonto"
                    id="txtMonto"
                    pattern="\d*.\d*"
                    placeholder="Ingresa el monto a pagar"
                    required
            />
        </div>
        <div class="form__field">
            <label for="sFormaPago" class="form__label">Forma de pago</label>
            <select class="form__input" name="sFormaPago" id="sFormaPago">
                {% for forma_pago in formas_pago %}
                	<option id="{{ forma_pago.id_forma }}" name="{{ forma_pago.id_forma }}">{{ forma_pago.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form__buttons">
            <a href="{% url "index" %}" class="button button--cancel">Cancelar</a>
            <button type="submit" class="button">Pagar</button>
        </div>
    </form>
{% endblock content %}
