{% extends 'cajero_web/base.html' %}
{% block title %}
    Depositar
{% endblock %}

{% block header %}
    <h1>Haz tus <span class="text-bold">depósitos</span></h1>
{% endblock %}

{% block menuvariant %}
    main-content--no-menu container
{% endblock %}

{% block content %}
    <form class="form" method="post">
        {% csrf_token %}
        {% if error %}<p class="error-message">{{ error }}</p>{% endif %}
        <div class="form__field">
            <label class="form__label" for="txtCuenta"
            >Número de cuenta o CLABE Interbancaria</label
            >
            <input
                    class="form__input"
                    type="text"
                    name="txtCuenta"
                    id="txtCuenta"
                    maxlength="16"
                    pattern="\d*"
                    placeholder="Ingresa número de cuenta o CLABE Interbancaria a depositar"
                    required
            />
        </div>
        <div class="form__field">
            <label for="txtMonto" class="form__label">Monto a depositar</label>
            <input
                    class="form__input"
                    type="text"
                    name="txtMonto"
                    id="txtMonto"
                    pattern="\d*.\d*"
                    placeholder="Ingresa el monto a depositar"
                    required
            />
        </div>
        <div class="form__buttons">
            <a href="{% url "index" %}" class="button button--cancel">Cancelar</a>
            <button type="submit" class="button">Confirmar</button>
        </div>
    </form>
{% endblock %}