{% extends "./base.html" %}

{% block title %}Validar cuenta{% endblock title %}

{% block header %}
    <h1>Valida tu <span class="text-bold">Cuenta</span></h1>
{% endblock header %}

{% block menuvariant %}main-content--no-menu container{% endblock menuvariant %}

{% block content %}
  <form class="form">
    <div class="form__field">
      <label class="form__label" for="txtCuenta"
        >Numero de cuenta</label
      >
      <input
        class="form__input"
        type="text"
        name="txtCuenta"
        id="txtCuenta"
        maxlength="16"
        pattern="\d*"
        placeholder="Ingresa tu número de cuenta"
        required
      />
    </div>
    <div class="form__field">
      <label class="form__label" for="txtNIP"
        >Nuevo NIP</label
      >
      <input
        class="form__input"
        type="text"
        name="txtNIP"
        id="txtNIP"
        maxlength="4"
        pattern="\d*"
        placeholder="Ingresa tu nuevo NIP"
        required
      />
    </div>
    <div class="form__buttons">
      <a href="{% url "index" %}" class="button button--cancel">Cancelar</a>
      <button type="submit" class="button">Confirmar</button>
    </div>
  </form>
{% endblock content %}
